<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-securit">

<head th:replace="layout :: site-head">
<title th:text="${user.username}"></title>
</head>

<body>

<header th:replace="layout :: site-header" ></header>

<div class="container=">
<div class="row text-center">
<p> <a th:href="@{/upload}"> <img th:src="@{/image(client=${user.username},pin=${user.profilePic})}" alt="Profile pic" class="img-fluid center-block" /> </a></p>
<p th:text="${user.fullName}"></p>
<p th:text="${user.email}"> </p>
<p th:text="${user.username}"></p>
</div>
</div>
</body>
</html>